src/main/resources/schema/tei-odd-simplified.rng

<?xml version="1.0" encoding="UTF-8"?>
<rng:grammar xmlns="http://www.tei-c.org/ns/1.0"
             xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
             xmlns:atop="http://www.tei-c.org/ns/atop"
             xmlns:rng="http://relaxng.org/ns/structure/1.0"
             xmlns:xd="http://www.oxygenxml.com/ns/doc/xsl"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
   <rng:start>
      <rng:choice>
         <rng:ref name="schemaSpec"/>
      </rng:choice>
   </rng:start>
   <rng:define name="schemaSpec">
      <rng:element name="schemaSpec" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <group xmlns="http://relaxng.org/ns/structure/1.0">
            <rng:zeroOrMore>
               <rng:ref name="gloss"/>
            </rng:zeroOrMore>
            <rng:zeroOrMore>
               <rng:ref name="desc"/>
            </rng:zeroOrMore>
            <rng:choice>
               <rng:ref name="elementSpec"/>
               <rng:ref name="dataSpec"/>
               <rng:ref name="modelClassSpec"/>
               <rng:ref name="attClassSpec"/>
            </rng:choice>
            <rng:zeroOrMore>
               <rng:choice>
                  <rng:ref name="elementSpec"/>
                  <rng:ref name="dataSpec"/>
                  <rng:ref name="modelClassSpec"/>
                  <rng:ref name="attClassSpec"/>
               </rng:choice>
            </rng:zeroOrMore>
         </group>
         <rng:group>
            <rng:attribute name="ident" ns="">
               <rng:data type="ID"/>
            </rng:attribute>
            <rng:attribute name="start" ns="">
               <rng:data type="Name"/>
            </rng:attribute>
         </rng:group>
      </rng:element>
   </rng:define>
   <rng:define name="gloss">
      <rng:element name="gloss" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <rng:text/>
      </rng:element>
   </rng:define>
   <rng:define name="desc">
      <rng:element name="desc" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <rng:text/>
      </rng:element>
   </rng:define>
   <rng:define name="dataSpec">
      <rng:element name="dataSpec" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <group xmlns="http://relaxng.org/ns/structure/1.0">
            <rng:zeroOrMore>
               <rng:ref name="gloss"/>
            </rng:zeroOrMore>
            <rng:zeroOrMore>
               <rng:ref name="desc"/>
            </rng:zeroOrMore>
            <rng:ref name="content"/>
         </group>
         <rng:group>
            <rng:attribute name="ident" ns="">
               <rng:data type="ID"/>
            </rng:attribute>
         </rng:group>
      </rng:element>
   </rng:define>
   <rng:define name="elementSpec">
      <rng:element name="elementSpec" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <group xmlns="http://relaxng.org/ns/structure/1.0">
            <rng:optional>
               <rng:ref name="altIdent"/>
            </rng:optional>
            <rng:zeroOrMore>
               <rng:ref name="gloss"/>
            </rng:zeroOrMore>
            <rng:zeroOrMore>
               <rng:ref name="desc"/>
            </rng:zeroOrMore>
            <rng:optional>
               <rng:ref name="classes"/>
            </rng:optional>
            <rng:ref name="content"/>
            <rng:optional>
               <rng:ref name="attList"/>
            </rng:optional>
         </group>
         <rng:group>
            <rng:attribute name="ident" ns="">
               <rng:data type="ID"/>
            </rng:attribute>
            <rng:optional>
               <rng:attribute name="ns" ns="">
                  <rng:data type="anyURI"/>
               </rng:attribute>
            </rng:optional>
         </rng:group>
      </rng:element>
   </rng:define>
   <rng:define name="content">
      <rng:element name="content" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <rng:choice>
            <rng:ref name="classRef"/>
            <rng:ref name="textNode"/>
            <rng:ref name="sequence"/>
            <rng:ref name="alternate"/>
            <rng:ref name="empty"/>
            <rng:ref name="elementRef"/>
            <rng:ref name="dataRef"/>
            <rng:ref name="valList"/>
         </rng:choice>
         <rng:zeroOrMore>
            <rng:choice>
               <rng:ref name="classRef"/>
               <rng:ref name="textNode"/>
               <rng:ref name="sequence"/>
               <rng:ref name="alternate"/>
               <rng:ref name="empty"/>
               <rng:ref name="elementRef"/>
               <rng:ref name="dataRef"/>
               <rng:ref name="valList"/>
            </rng:choice>
         </rng:zeroOrMore>
      </rng:element>
   </rng:define>
   <rng:define name="classRef">
      <rng:element name="classRef" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <rng:empty/>
         <rng:group>
            <rng:attribute name="key" ns="">
               <rng:data type="IDREF"/>
            </rng:attribute>
            <rng:optional>
               <rng:attribute name="minOccurs" ns="">
                  <rng:data type="nonNegativeInteger"/>
               </rng:attribute>
            </rng:optional>
            <rng:optional>
               <rng:attribute name="maxOccurs" ns="">
                  <rng:choice>
                     <rng:data type="nonNegativeInteger"/>
                     <rng:choice>
                        <rng:value>unbounded</rng:value>
                     </rng:choice>
                  </rng:choice>
               </rng:attribute>
            </rng:optional>
         </rng:group>
      </rng:element>
   </rng:define>
   <rng:define name="altIdent">
      <rng:element name="altIdent" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <rng:data type="Name"/>
      </rng:element>
   </rng:define>
   <rng:define name="textNode">
      <rng:element name="textNode" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <rng:empty/>
      </rng:element>
   </rng:define>
   <rng:define name="sequence">
      <rng:element name="sequence" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <rng:choice>
            <rng:ref name="classRef"/>
            <rng:ref name="textNode"/>
            <rng:ref name="sequence"/>
            <rng:ref name="alternate"/>
            <rng:ref name="empty"/>
            <rng:ref name="elementRef"/>
            <rng:ref name="dataRef"/>
            <rng:ref name="valList"/>
         </rng:choice>
         <rng:zeroOrMore>
            <rng:choice>
               <rng:ref name="classRef"/>
               <rng:ref name="textNode"/>
               <rng:ref name="sequence"/>
               <rng:ref name="alternate"/>
               <rng:ref name="empty"/>
               <rng:ref name="elementRef"/>
               <rng:ref name="dataRef"/>
               <rng:ref name="valList"/>
            </rng:choice>
         </rng:zeroOrMore>
         <rng:group>
            <rng:optional>
               <rng:attribute name="preserveOrder" ns="">
                  <rng:data type="boolean"/>
               </rng:attribute>
            </rng:optional>
            <rng:optional>
               <rng:attribute name="minOccurs" ns="">
                  <rng:data type="nonNegativeInteger"/>
               </rng:attribute>
            </rng:optional>
            <rng:optional>
               <rng:attribute name="maxOccurs" ns="">
                  <rng:choice>
                     <rng:data type="nonNegativeInteger"/>
                     <rng:choice>
                        <rng:value>unbounded</rng:value>
                     </rng:choice>
                  </rng:choice>
               </rng:attribute>
            </rng:optional>
         </rng:group>
      </rng:element>
   </rng:define>
   <rng:define name="alternate">
      <rng:element name="alternate" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <rng:choice>
            <rng:ref name="classRef"/>
            <rng:ref name="textNode"/>
            <rng:ref name="sequence"/>
            <rng:ref name="alternate"/>
            <rng:ref name="empty"/>
            <rng:ref name="elementRef"/>
            <rng:ref name="dataRef"/>
            <rng:ref name="valList"/>
         </rng:choice>
         <rng:zeroOrMore>
            <rng:choice>
               <rng:ref name="classRef"/>
               <rng:ref name="textNode"/>
               <rng:ref name="sequence"/>
               <rng:ref name="alternate"/>
               <rng:ref name="empty"/>
               <rng:ref name="elementRef"/>
               <rng:ref name="dataRef"/>
               <rng:ref name="valList"/>
            </rng:choice>
         </rng:zeroOrMore>
         <rng:group>
            <rng:optional>
               <rng:attribute name="minOccurs" ns="">
                  <rng:data type="nonNegativeInteger"/>
               </rng:attribute>
            </rng:optional>
            <rng:optional>
               <rng:attribute name="maxOccurs" ns="">
                  <rng:choice>
                     <rng:data type="nonNegativeInteger"/>
                     <rng:choice>
                        <rng:value>unbounded</rng:value>
                     </rng:choice>
                  </rng:choice>
               </rng:attribute>
            </rng:optional>
         </rng:group>
      </rng:element>
   </rng:define>
   <rng:define name="empty">
      <rng:element name="empty" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <rng:empty/>
      </rng:element>
   </rng:define>
   <rng:define name="elementRef">
      <rng:element name="elementRef" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <rng:empty/>
         <rng:group>
            <rng:optional>
               <rng:attribute name="minOccurs" ns="">
                  <rng:data type="nonNegativeInteger"/>
               </rng:attribute>
            </rng:optional>
            <rng:optional>
               <rng:attribute name="maxOccurs" ns="">
                  <rng:choice>
                     <rng:data type="nonNegativeInteger"/>
                     <rng:choice>
                        <rng:value>unbounded</rng:value>
                     </rng:choice>
                  </rng:choice>
               </rng:attribute>
            </rng:optional>
            <rng:attribute name="key" ns="">
               <rng:data type="IDREF"/>
            </rng:attribute>
         </rng:group>
      </rng:element>
   </rng:define>
   <rng:define name="attList">
      <rng:element name="attList" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <rng:choice>
            <rng:ref name="attList"/>
            <rng:ref name="attDef"/>
         </rng:choice>
         <rng:zeroOrMore>
            <rng:choice>
               <rng:ref name="attList"/>
               <rng:ref name="attDef"/>
            </rng:choice>
         </rng:zeroOrMore>
         <rng:group>
            <rng:optional>
               <rng:attribute name="org" ns="">
                  <rng:choice>
                     <rng:value>group</rng:value>
                     <rng:value>choice</rng:value>
                  </rng:choice>
               </rng:attribute>
            </rng:optional>
         </rng:group>
      </rng:element>
   </rng:define>
   <rng:define name="attDef">
      <rng:element name="attDef" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <group xmlns="http://relaxng.org/ns/structure/1.0">
            <rng:zeroOrMore>
               <rng:ref name="gloss"/>
            </rng:zeroOrMore>
            <rng:zeroOrMore>
               <rng:ref name="desc"/>
            </rng:zeroOrMore>
            <rng:choice>
               <rng:ref name="valList"/>
               <rng:ref name="datatype"/>
            </rng:choice>
         </group>
         <rng:group>
            <rng:attribute name="ident" ns="">
               <rng:data type="ID"/>
            </rng:attribute>
            <rng:optional>
               <rng:attribute name="usage" ns="">
                  <rng:choice>
                     <rng:value>opt</rng:value>
                     <rng:value>req</rng:value>
                  </rng:choice>
               </rng:attribute>
            </rng:optional>
            <rng:optional>
               <rng:attribute name="ns" ns="">
                  <rng:data type="anyURI"/>
               </rng:attribute>
            </rng:optional>
         </rng:group>
      </rng:element>
   </rng:define>
   <rng:define name="datatype">
      <rng:element name="datatype" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <rng:ref name="dataRef"/>
      </rng:element>
   </rng:define>
   <rng:define name="dataRef">
      <rng:element name="dataRef" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <rng:empty/>
         <rng:choice>
            <rng:optional>
               <rng:attribute name="name" ns="">
                  <rng:data type="NCName"/>
               </rng:attribute>
            </rng:optional>
            <rng:optional>
               <rng:attribute name="key" ns="">
                  <rng:data type="IDREF"/>
               </rng:attribute>
            </rng:optional>
         </rng:choice>
      </rng:element>
   </rng:define>
   <rng:define name="valList">
      <rng:element name="valList" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <rng:ref name="valItem"/>
         <rng:zeroOrMore>
            <rng:ref name="valItem"/>
         </rng:zeroOrMore>
         <rng:group>
            <rng:optional>
               <rng:attribute name="type" ns="">
                  <rng:choice>
                     <rng:value>closed</rng:value>
                     <rng:value>open</rng:value>
                  </rng:choice>
               </rng:attribute>
            </rng:optional>
         </rng:group>
      </rng:element>
   </rng:define>
   <rng:define name="valItem">
      <rng:element name="valItem" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <rng:empty/>
         <rng:group>
            <rng:optional>
               <rng:attribute name="ident" ns="">
                  <rng:data type="string"/>
               </rng:attribute>
            </rng:optional>
         </rng:group>
      </rng:element>
   </rng:define>
   <rng:define name="modelClassSpec">
      <rng:element name="classSpec" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <group xmlns="http://relaxng.org/ns/structure/1.0">
            <rng:zeroOrMore>
               <rng:ref name="gloss"/>
            </rng:zeroOrMore>
            <rng:zeroOrMore>
               <rng:ref name="desc"/>
            </rng:zeroOrMore>
         </group>
         <rng:group>
            <rng:attribute name="ident" ns="">
               <rng:data type="ID"/>
            </rng:attribute>
            <rng:attribute name="type" ns="">
               <rng:choice>
                  <rng:value>model</rng:value>
               </rng:choice>
            </rng:attribute>
         </rng:group>
      </rng:element>
   </rng:define>
   <rng:define name="attClassSpec">
      <rng:element name="classSpec" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <group xmlns="http://relaxng.org/ns/structure/1.0">
            <rng:zeroOrMore>
               <rng:ref name="gloss"/>
            </rng:zeroOrMore>
            <rng:zeroOrMore>
               <rng:ref name="desc"/>
            </rng:zeroOrMore>
            <rng:optional>
               <rng:ref name="attList"/>
            </rng:optional>
         </group>
         <rng:group>
            <rng:attribute name="ident" ns="">
               <rng:data type="ID"/>
            </rng:attribute>
            <rng:attribute name="type" ns="">
               <rng:choice>
                  <rng:value>atts</rng:value>
               </rng:choice>
            </rng:attribute>
         </rng:group>
      </rng:element>
   </rng:define>
   <rng:define name="classes">
      <rng:element name="classes" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <rng:ref name="memberOf"/>
         <rng:zeroOrMore>
            <rng:ref name="memberOf"/>
         </rng:zeroOrMore>
      </rng:element>
   </rng:define>
   <rng:define name="memberOf">
      <rng:element name="memberOf" ns="http://www.tei-c.org/ns/1.0">
         <rng:ref name="att.global"/>
         <rng:empty/>
         <rng:group>
            <rng:attribute name="key" ns="">
               <rng:data type="IDREF"/>
            </rng:attribute>
         </rng:group>
      </rng:element>
   </rng:define>
   <rng:define name="nonNegativeIntegerOrUnbounded">
      <rng:choice>
         <rng:data type="nonNegativeInteger"/>
         <rng:choice>
            <rng:value>unbounded</rng:value>
         </rng:choice>
      </rng:choice>
   </rng:define>
   <rng:define name="att.global">
      <rng:group>
         <rng:optional>
            <rng:attribute name="base" ns="http://www.w3.org/XML/1998/namespace">
               <rng:data type="anyURI"/>
            </rng:attribute>
         </rng:optional>
         <rng:optional>
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace">
               <rng:data type="language"/>
            </rng:attribute>
         </rng:optional>
         <rng:optional>
            <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace">
               <rng:data type="ID"/>
            </rng:attribute>
         </rng:optional>
         <rng:optional>
            <rng:attribute name="space" ns="http://www.w3.org/XML/1998/namespace">
               <rng:choice>
                  <rng:value>preserve</rng:value>
                  <rng:value>default</rng:value>
               </rng:choice>
            </rng:attribute>
         </rng:optional>
      </rng:group>
   </rng:define>
</rng:grammar>
