src/main/resources/schema/tei-odd-simplified.odd

<?xml-model href="tei-odd-simplified.sch" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<?xml-model href="tei-odd-simplified.rng" schematypens="http://relaxng.org/ns/structure/1.0"?>
<schemaSpec ident="tei-odd-simplified" start="schemaSpec" xmlns="http://www.tei-c.org/ns/1.0">
  <elementSpec ident="schemaSpec">
    <classes>
      <memberOf key="att.global"/>
    </classes>
    <content>
      <sequence>
        <elementRef key="gloss" minOccurs="0" maxOccurs="unbounded"/>
        <elementRef key="desc" minOccurs="0" maxOccurs="unbounded"/>
        <alternate minOccurs="1" maxOccurs="unbounded">
          <elementRef key="elementSpec"/>
          <elementRef key="dataSpec"/>
          <elementRef key="modelClassSpec"/>
          <elementRef key="attClassSpec"/>
        </alternate>
      </sequence>
    </content>
    <attList>
      <attDef ident="ident" usage="req">
        <datatype>
          <dataRef name="ID"/>
        </datatype>
      </attDef>
      <attDef ident="start" usage="req">
        <datatype>
          <dataRef name="Name"/>
        </datatype>
      </attDef>
    </attList>
  </elementSpec>

  <elementSpec ident="gloss">
    <classes>
      <memberOf key="att.global"/>
    </classes>
    <content>
      <textNode/>
    </content>
  </elementSpec>

  <elementSpec ident="desc">
    <classes>
      <memberOf key="att.global"/>
    </classes>
    <content>
      <textNode/>
    </content>
  </elementSpec>

  <elementSpec ident="dataSpec">
    <classes>
      <memberOf key="att.global"/>
    </classes>
    <content>
      <sequence>
        <elementRef key="gloss" minOccurs="0" maxOccurs="unbounded"/>
        <elementRef key="desc" minOccurs="0" maxOccurs="unbounded"/>
        <elementRef key="content"/>
      </sequence>
    </content>
    <attList>
      <attDef ident="ident" usage="req">
        <datatype>
          <dataRef name="ID"/>
        </datatype>
      </attDef>
    </attList>
  </elementSpec>

  <elementSpec ident="elementSpec">
    <classes>
      <memberOf key="att.global"/>
    </classes>
    <content>
      <sequence>
        <elementRef key="altIdent" minOccurs="0" maxOccurs="1"/>
        <elementRef key="gloss" minOccurs="0" maxOccurs="unbounded"/>
        <elementRef key="desc" minOccurs="0" maxOccurs="unbounded"/>
        <elementRef key="classes" minOccurs="0" maxOccurs="1"/>
        <elementRef key="content"/>
        <elementRef key="attList" minOccurs="0" maxOccurs="1"/>
      </sequence>
    </content>
    <attList>
      <attDef ident="ident" usage="req">
        <datatype>
          <dataRef name="ID"/>
        </datatype>
      </attDef>
      <attDef ident="ns" usage="opt">
        <datatype>
          <dataRef name="anyURI"/>
        </datatype>
      </attDef>
    </attList>
  </elementSpec>

  <elementSpec ident="content">
    <altIdent>content</altIdent>
    <classes>
      <memberOf key="att.global"/>
    </classes>
    <content>
      <classRef key="model.content" minOccurs="1" maxOccurs="unbounded"/>
    </content>
  </elementSpec>

  <elementSpec ident="classRef">
    <classes>
      <memberOf key="att.global"/>
      <memberOf key="model.content"/>
    </classes>
    <content>
      <empty/>
    </content>
    <attList>
      <attDef ident="key" usage="req">
        <datatype>
          <dataRef name="IDREF"/>
        </datatype>
      </attDef>
      <attDef ident="minOccurs" usage="opt">
        <datatype>
          <dataRef name="nonNegativeInteger"/>
        </datatype>
      </attDef>
      <attDef ident="maxOccurs" usage="opt">
        <datatype>
          <dataRef key="nonNegativeIntegerOrUnbounded"/>
        </datatype>
      </attDef>
    </attList>
  </elementSpec>

  <elementSpec ident="altIdent">
    <classes>
      <memberOf key="att.global"/>
    </classes>
    <content>
      <dataRef name="Name"/>
    </content>
  </elementSpec>

  <elementSpec ident="textNode">
    <classes>
      <memberOf key="att.global"/>
      <memberOf key="model.content"/>
    </classes>
    <content>
      <empty/>
    </content>
  </elementSpec>

  <elementSpec ident="sequence">
    <classes>
      <memberOf key="att.global"/>
      <memberOf key="model.content"/>
    </classes>
    <content>
      <classRef key="model.content" minOccurs="1" maxOccurs="unbounded"/>
    </content>
    <attList>
      <attDef ident="preserveOrder" usage="opt">
        <datatype>
          <dataRef name="boolean"/>
        </datatype>
      </attDef>
      <attDef ident="minOccurs" usage="opt">
        <datatype>
          <dataRef name="nonNegativeInteger"/>
        </datatype>
      </attDef>
      <attDef ident="maxOccurs" usage="opt">
        <datatype>
          <dataRef key="nonNegativeIntegerOrUnbounded"/>
        </datatype>
      </attDef>
    </attList>
  </elementSpec>

  <elementSpec ident="alternate">
    <classes>
      <memberOf key="att.global"/>
      <memberOf key="model.content"/>
    </classes>
    <content>
      <classRef key="model.content" minOccurs="1" maxOccurs="unbounded"/>
    </content>
    <attList>
      <attDef ident="minOccurs" usage="opt">
        <datatype>
          <dataRef name="nonNegativeInteger"/>
        </datatype>
      </attDef>
      <attDef ident="maxOccurs" usage="opt">
        <datatype>
          <dataRef key="nonNegativeIntegerOrUnbounded"/>
        </datatype>
      </attDef>
    </attList>
  </elementSpec>

  <elementSpec ident="empty">
    <classes>
      <memberOf key="att.global"/>
      <memberOf key="model.content"/>
    </classes>
    <content>
      <empty/>
    </content>
  </elementSpec>

  <elementSpec ident="elementRef">
    <classes>
      <memberOf key="att.global"/>
      <memberOf key="model.content"/>
    </classes>
    <content>
      <empty/>
    </content>
    <attList>
      <attDef ident="minOccurs" usage="opt">
        <datatype>
          <dataRef name="nonNegativeInteger"/>
        </datatype>
      </attDef>
      <attDef ident="maxOccurs" usage="opt">
        <datatype>
          <dataRef key="nonNegativeIntegerOrUnbounded"/>
        </datatype>
      </attDef>
      <attDef ident="key" usage="req">
        <datatype>
          <dataRef name="IDREF"/>
        </datatype>
      </attDef>
    </attList>
  </elementSpec>

  <elementSpec ident="attList">
    <classes>
      <memberOf key="att.global"/>
    </classes>
    <content>
      <alternate minOccurs="1" maxOccurs="unbounded">
        <elementRef key="attList"/>
        <elementRef key="attDef"/>
      </alternate>
    </content>
    <attList>
      <attDef ident="org" usage="opt">
        <valList type="closed">
          <valItem ident="group"/>
          <valItem ident="choice"/>
        </valList>
      </attDef>
    </attList>
  </elementSpec>

  <elementSpec ident="attDef">
    <classes>
      <memberOf key="att.global"/>
    </classes>
    <content>
      <sequence>
        <elementRef key="gloss" minOccurs="0" maxOccurs="unbounded"/>
        <elementRef key="desc" minOccurs="0" maxOccurs="unbounded"/>
        <alternate>
          <elementRef key="valList"/>
          <elementRef key="datatype"/>
        </alternate>
      </sequence>
    </content>
    <attList>
      <attDef ident="ident" usage="req">
        <datatype>
          <dataRef name="ID"/>
        </datatype>
      </attDef>
      <attDef ident="usage" usage="opt">
        <valList type="closed">
          <valItem ident="opt"/>
          <valItem ident="req"/>
        </valList>
      </attDef>
      <attDef ident="ns" usage="opt">
        <datatype>
          <dataRef name="anyURI"/>
        </datatype>
      </attDef>
    </attList>
  </elementSpec>

  <elementSpec ident="datatype">
    <classes>
      <memberOf key="att.global"/>
    </classes>
    <content>
      <elementRef key="dataRef"/>
    </content>
  </elementSpec>

  <elementSpec ident="dataRef">
    <classes>
      <memberOf key="att.global"/>
      <memberOf key="model.content"/>
    </classes>
    <content>
      <empty/>
    </content>
    <attList org="choice">
      <attDef ident="name">
        <datatype>
          <dataRef name="NCName"/>
        </datatype>
      </attDef>
      <attDef ident="key">
        <datatype>
          <dataRef name="IDREF"/>
        </datatype>
      </attDef>
    </attList>
  </elementSpec>

  <elementSpec ident="valList">
    <classes>
      <memberOf key="att.global"/>
      <memberOf key="model.content"/>
    </classes>
    <content>
      <elementRef key="valItem" minOccurs="1" maxOccurs="unbounded"/>
    </content>
    <attList>
      <attDef ident="type" usage="opt">
        <valList type="closed">
          <valItem ident="closed"/>
          <valItem ident="open"/>
        </valList>
      </attDef>
    </attList>
  </elementSpec>

  <elementSpec ident="valItem">
    <classes>
      <memberOf key="att.global"/>
    </classes>
    <content>
      <empty/>
    </content>
    <attList>
      <attDef ident="ident">
        <datatype>
          <dataRef name="string"/>
        </datatype>
      </attDef>
    </attList>
  </elementSpec>

  <elementSpec ident="modelClassSpec">
    <altIdent>classSpec</altIdent>
    <classes>
      <memberOf key="att.global"/>
    </classes>
    <content>
      <sequence>
        <elementRef key="gloss" minOccurs="0" maxOccurs="unbounded"/>
        <elementRef key="desc" minOccurs="0" maxOccurs="unbounded"/>
      </sequence>
    </content>
    <attList>
      <attDef ident="ident" usage="req">
        <datatype>
          <dataRef name="ID"/>
        </datatype>
      </attDef>
      <attDef ident="type" usage="req">
        <valList type="closed">
          <valItem ident="model"/>
        </valList>
      </attDef>
    </attList>
  </elementSpec>

  <elementSpec ident="attClassSpec">
    <altIdent>classSpec</altIdent>
    <classes>
      <memberOf key="att.global"/>
    </classes>
    <content>
      <sequence>
        <elementRef key="gloss" minOccurs="0" maxOccurs="unbounded"/>
        <elementRef key="desc" minOccurs="0" maxOccurs="unbounded"/>
        <elementRef key="attList" minOccurs="0" maxOccurs="1"/>
      </sequence>
    </content>
    <attList>
      <attDef ident="ident" usage="req">
        <datatype>
          <dataRef name="ID"/>
        </datatype>
      </attDef>
      <attDef ident="type" usage="req">
        <valList type="closed">
          <valItem ident="atts"/>
        </valList>
      </attDef>
    </attList>
  </elementSpec>

  <elementSpec ident="classes">
    <classes>
      <memberOf key="att.global"/>
    </classes>
    <content>
      <elementRef key="memberOf" minOccurs="1" maxOccurs="unbounded"/>
    </content>
  </elementSpec>

  <elementSpec ident="memberOf">
    <classes>
      <memberOf key="att.global"/>
    </classes>
    <content>
      <empty/>
    </content>
    <attList>
      <attDef ident="key" usage="req">
        <datatype>
          <dataRef name="IDREF"/>
        </datatype>
      </attDef>
    </attList>
  </elementSpec>

  <dataSpec ident="nonNegativeIntegerOrUnbounded">
    <content>
      <alternate>
        <dataRef name="nonNegativeInteger"/>
        <valList type="closed">
          <valItem ident="unbounded"/>
        </valList>
      </alternate>
    </content>
  </dataSpec>

  <classSpec ident="model.content" type="model"/>

  <classSpec ident="att.global" type="atts">
    <attList>
      <attDef ident="base" ns="http://www.w3.org/XML/1998/namespace" usage="opt">
        <datatype>
          <dataRef name="anyURI"/>
        </datatype>
      </attDef>
      <attDef ident="lang" ns="http://www.w3.org/XML/1998/namespace" usage="opt">
        <datatype>
          <dataRef name="language"/>
        </datatype>
      </attDef>
      <attDef ident="id" ns="http://www.w3.org/XML/1998/namespace" usage="opt">
        <datatype>
          <dataRef name="ID"/>
        </datatype>
      </attDef>
      <attDef ident="space" ns="http://www.w3.org/XML/1998/namespace" usage="opt">
        <valList type="closed">
          <valItem ident="preserve"/>
          <valItem ident="default"/>
        </valList>
      </attDef>
    </attList>
  </classSpec>

</schemaSpec>
